---
layout: default
---

{{ content }}

<h2>Contents</h2>

<ul id="contents">
	<li><a href="{{ "/" | absolute_url }}contents/introduction.html">Introduction</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/potential.html">AI for DRM: The Potential</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/concerns-privacy.html">Concerns: Privacy and Security</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/concerns-bias.html">Concerns: Bias</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/concerns-transparency.html">Concerns: Lack of Transparency</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/concerns-hype.html">Concerns: Hype</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/beyondml.html">Beyond Machine Learning</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/recommendations.html">Recommendations</a></li>
	<li><a href="{{ "/" | absolute_url }}contents/checklist.html">Checklist</a></li>
</ul>
		